.marketplace {
  margin: auto 0;
}

.marketplace-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 5vw;
}

.marketplace-category-button {
  position: relative;
  width: 33.3%;
  aspect-ratio: 3/4;
  text-decoration: none;
  overflow: hidden;
}

.marketplace img {
  animation: fade-in 3s ease-in-out forwards;
  width: 100%;
}

.marketplace-category-button-text {
  position: absolute;
  top: 5%;
  max-width: max-content;
  font-family: Roboto-bold;
}

.homedecor-text {
  left: 7.5%;
  text-shadow: 5px 5px 20px black;
}

.goods-text {
  left: 27.5%;
  text-shadow: 5px 5px 3px black;
}

.web3-text {
  left: 22%;
  text-shadow: 5px 5px 8px black;
}

.marketplace-category-button:hover img {
  transform: scale(1.05);
  transition: transform 1s ease;
}

@media (max-width: 1024px) {
  .marketplace-category {
    flex-direction: column;
  }

  .marketplace-category-button {
    width: 100%;
    aspect-ratio: 3/4;
  }

  .marketplace-category-button-text {
    top: 5%;
    left: 5%;
  }

  .marketplace-category-button:hover img {
    transform: none;
    transition: none;
  }

  .marketplace.rearranged {
    filter: blur(1.25px);
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .marketplace-category {
    width: 50%;
    margin: 0 auto;
    font-size: 5vw;
  }
}

@media (min-width: 480px) and (max-width: 767.9px) {
  .marketplace-category {
    width: 60%;
    margin: 0 auto;
    font-size: 5vw;
  }
}

@media (max-width: 479.9px) {
  .marketplace-category {
    width: 100%;
    margin: 0 auto;
    font-size: 10vw;
  }
}
