.about {
  font-family: Consolas;
  margin: 10px 200px;
  color: white;
}

.about .about-head h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

.about .about-head p {
  font-style: italic;
}

.about .about-body p {
  font-style: italic;
  margin-left: 50px;
}
