.artist-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.artist-page-title {
  width: 75%;
  font-size: 3vw;
}

@media (min-width: 481px) and (max-width: 768px) {
  .artist-page-title {
    font-size: 25px;
    margin: 50px 0 50px 0;
  }
}

@media (max-width: 480px) {
  .artist-page-title {
    font-size: 25px;
    text-align: center;
    margin: 75px 0 50px 0;
  }
}

.artist-page-container.rearranged {
  filter: blur(1.25px);
}
