.artist-page {
  width: 75%;
  color: white;
}

.artist-page h1 {
  margin-bottom: 50px;
  font-size: 40px;
}

.artist-page span {
  font-size: 18px;
}

.artist-page .genre {
  padding-left: 40px;
  font-style: italic;
}

.artist-page p {
  padding-left: 45px;
  font-style: italic;
}
