.artists {
  width: 75%;
  color: white;
}

.artists h1 {
  margin-bottom: 50px;
  font-size: 40px;
}

.artists span {
  font-size: 18px;
}

.artists .genre {
  padding-left: 40px;
  font-style: italic;
}

.artists p {
  padding-left: 45px;
  font-style: italic;
}

.artists .artist-card {
  border-top: 1px solid rgba(128, 128, 128, 0);
  border-left: 2px solid rgba(128, 128, 128, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0);
}

.artists .artist-card:hover {
  animation: slideAndBorderAnimation 1s forwards;
}
