.artists {
  width: 75%;
  color: white;
}

.artists h1 {
  margin-bottom: 50px;
  font-size: 40px;
}

.artists .main-img {
  width: 20%;
  aspect-ratio: 1/1;
}

.artists h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 30px;
}

.artists .genre {
  font-size: 25px;
}

.artists p {
  font-style: italic;
  font-size: 20px;
}

.artists .link {
  display: flex;
  gap: 30px;
  border-top: 1px solid rgba(128, 128, 128, 0);
  border-left: 2px solid rgba(128, 128, 128, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0);
}

.artists .link:hover {
  animation: slideAndBorderAnimation 1s forwards;
}
