.artists {
  width: 75%;
  color: white;
}

.artists h1 {
  font-size: 5rem;
}

.artists .main-img {
  width: 20%;
  aspect-ratio: 1/1;
}

.artists h2 {
  margin-top: 1.2rem;
  font-size: 2rem;
}

.artists .genre {
  font-size: 1.6rem;
  font-style: italic;
}

.artists p {
  font-size: 1.2rem;
  font-family: Helvetica;
}

.artists .link {
  display: flex;
  gap: 2%;
  border-top: 1px solid rgba(128, 128, 128, 0);
  border-left: 2px solid rgba(128, 128, 128, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0);
}

.artists .link:hover {
  animation: slideAndBorderAnimation 1s forwards;
}
