.artists {
  width: 75%;
  color: white;
}

.artists.rearranged {
  filter: blur(1.25px);
}

.artists h1 {
  font-size: 5vw;
}

.artists .container {
  width: 100%;
  display: flex;
}

.artists .img-container {
  width: 30%;
}

.artists .artist-card {
  width: 70%;
}

.artists .main-img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.artists .artist-card {
  margin-left: 25px;
}

.artists h2 {
  font-size: 2.5vw;
  display: flex;
  align-items: center;
}

.artists .genre {
  font-size: 2vw;
  font-style: italic;
  animation: fade-in 0.5s ease-in-out forwards;
}

.artists p {
  font-size: 1.4vw;
  animation: fade-in 1.5s ease-in-out forwards;
}

.artists .link {
  display: flex;
  gap: 2%;
  border-top: 1px solid rgba(128, 128, 128, 0);
  border-left: 2px solid rgba(128, 128, 128, 0);
  border-bottom: 1px solid rgba(128, 128, 128, 0);
}

.artists .link:hover {
  animation: slideAndBorderAnimation 1s forwards;
}

.loading {
  width: 100%;
  height: calc(100vh - 193px - 106px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 481px) and (max-width: 768px) {
  .artists .img-container {
    width: 45%;
  }

  .artists .artist-card {
    width: 55%;
  }

  .loading {
    min-height: calc(100vh - 134px - 80px);
  }
}

@media (max-width: 480px) {
  .artists {
    width: 90%;
  }

  .artists h1 {
    font-size: 40px;
  }

  .artists .container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    background-color: rgb(40, 40, 40);
    animation: fade-in 2s ease-in-out forwards;
  }

  .artists .container .img-container {
    width: 100%;
    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .artists .container .img-container img {
    width: 97%;
    margin-top: 5px;
    border-radius: 25px 25px 10px 10px;
    aspect-ratio: 1/1;
  }
  .artists .artist-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2.5px 0;
  }
  .artists h2 {
    display: inline;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 0 5px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
  }

  .artists .genre {
    font-family: Moma-sans;
    display: inline;
    font-size: 16px;
    font-style: normal;
    margin: 0px;
    padding: 0 5px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
  }

  .artists .description {
    display: none;
  }

  .artists .link {
    margin: 30px 30px;
  }

  .artists .link:hover {
    animation: none;
  }

  .loading {
    min-height: calc(100vh - 80px - 122px);
  }
}
