.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 192px - 105px);
}

@media (min-width: 481px) and (max-width: 768px) {
  .body {
    min-height: calc(100vh - 134px - 80px);
  }
}

@media (max-width: 480px) {
  .body {
    min-height: calc(100vh - 80px - 122px);
  }
}
