/* 1. carousel */
.carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 75%;
  height: 400px;
  min-width: 1000px;
  margin: 50px auto;
  animation: fade-in 1.5s ease-in-out forwards;
}

.carousel-item {
  position: absolute;
  z-index: 0;
  opacity: 0;
  width: 200px;
  height: 200px;
  background-size: contain;
  border: 3px solid black;
  transition: all 0.3s ease-in-out;
}

.carousel-item-1 {
  opacity: 0.4;
  left: 9%;
  transform: translateX(-50%);
}

.carousel-item-2 {
  z-index: 1;
  opacity: 0.5;
  width: 250px;
  height: 250px;
  left: 19%;
  transform: translateX(-50%);
}

.carousel-item-3 {
  left: 50%;
  z-index: 2;
  opacity: 1;
  width: 530px;
  height: 530px;
  transform: translateX(-50%);
}

.carousel-item-4 {
  z-index: 1;
  opacity: 0.5;
  width: 250px;
  height: 250px;
  left: 81%;
  transform: translateX(-50%);
}

.carousel-item-5 {
  left: 100%;
  opacity: 0.4;
  transform: translateX(-50%);
  left: 91%;
}

/* 2. carousel-controls*/
.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;
}

.carousel-controls button {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
  padding: 0;
  overflow: hidden;
}

.carousel-controls button:hover {
  background: transparent;
  border: none;
}

.carousel-controls-previous {
  position: relative;
  left: 30%;
}

.left-arrow {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
}

.left-arrow:hover {
  border: 2px solid white;
  border-radius: 50%;
}

.left-arrow::before {
  position: absolute;
  display: block;
  content: "";
  color: gray;
  width: 15px;
  height: 15px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: 50%;
  left: 13%;
  transform-origin: 0% 0%;
  transform: rotateZ(-45deg);
}

.left-arrow::after {
  position: absolute;
  display: block;
  content: "";
  color: gray;
  width: 35px;
  height: 15px;
  top: 19%;
  right: 19%;
  border-bottom: 2px solid;
  transform: translateX(4px);
}

.left-arrow:hover::before {
  animation: aniLeftArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: white;
}

.left-arrow:hover::after {
  animation: aniLeftArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: white;
}

@keyframes aniLeftArrow01 {
  0% {
    transform: rotateZ(-45deg) translateY(30px) translateX(30px);
  }
  100% {
    transform: rotateZ(-45deg) translateY(-35px) translateX(-35px);
  }
}

@keyframes aniLeftArrow02 {
  0% {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(-44px);
  }
}

.carousel-controls-next {
  position: relative;
  right: 30%;
}

.right-arrow {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 25%;
}

.right-arrow:hover {
  border: 2px solid white;
  border-radius: 50%;
}

.right-arrow::before {
  position: absolute;
  display: block;
  content: "";
  color: gray;
  width: 15px;
  height: 15px;
  border-top: 2px solid;
  border-right: 2px solid;
  top: 28%;
  right: 2%;
  transform-origin: 0% 0%;
  transform: rotateZ(45deg);
}

.right-arrow::after {
  position: absolute;
  display: block;
  content: "";
  color: gray;
  width: 35px;
  height: 15px;
  top: 19%;
  left: 21%;
  border-bottom: 2px solid;
  transform: translateX(-4px);
}

.right-arrow:hover::before {
  animation: aniRightArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: white;
}

.right-arrow:hover::after {
  animation: aniRightArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  color: white;
}

@keyframes aniRightArrow01 {
  0% {
    transform: rotateZ(45deg) translateY(30px) translateX(-30px); /* 반대로 변경 */
  }
  100% {
    transform: rotateZ(45deg) translateY(-35px) translateX(35px); /* 반대로 변경 */
  }
}

@keyframes aniRightArrow02 {
  0% {
    transform: translateX(-45px); /* 반대로 변경 */
  }
  100% {
    transform: translateX(44px); /* 반대로 변경 */
  }
}
