.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  width: 62%;
  margin: 1% 0 1% 2%;
  font-size: 1.8rem;
  white-space: nowrap;
}

.category.rearranged {
  border: 1px dashed white;
  position: absolute;
  top: 90px;
  left: -33px;
  z-index: 10;
  background-color: black;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 300px;
  gap: 50px;
}

.category .category-item {
  display: flex;
  align-items: center;
}

.category .category-item box-icon {
  width: 1.5rem;
  height: 1.5rem;
  /* margin-right을 %로 설정하면 아이콘의 크기가 작아져서 px로 설정 ! */
  margin-right: 5px;
}

.category .link {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.category .link:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
  border-bottom: 1px solid white;
}

.category .link.visited {
  border-bottom: 3px solid white;
}
