.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
  width: 60%;
  margin: 1% 0 1% 2%;
  font-size: 30px;
  white-space: nowrap;
}

.category .category-item {
  display: flex;
  align-items: center;
}

.category .category-item box-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 5px;
}

.category .link {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.category .link:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
  border-bottom: 1px solid white;
}

.category .link.visited {
  border-bottom: 3px solid white;
}

@media (max-width: 480px) {
  .category {
    visibility: hidden;
    border-right: 3px solid white;
    position: fixed;
    top: -5px;
    left: -10px;
    z-index: 999;
    background-color: black;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 215px;
    height: 100vh;
    gap: 50px;
    font-size: 25px;
  }

  .category.rearranged {
    visibility: visible;
  }

  .category .category-item:first-child {
    margin-top: 50px;
  }

  .category .category-item {
    margin-left: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .category {
    font-size: 19px;
  }
}
