.faq {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.faq.rearranged {
  filter: blur(1.25px);
}

.faq h1 {
  font-size: 5vw;
}

.faq .details-container {
  margin-bottom: 3vw;
}

.faq h2 {
  font-size: 2.5vw;
  animation: fade-in 0.5s ease-in-out forwards;
}

.faq details {
  font-family: Helvetica;
  animation: fade-in 1.5s ease-in-out forwards;
}

.faq details summary {
  list-style-type: disc;
  cursor: pointer;
  font-size: 1.6vw;
  max-width: max-content;
  text-decoration: underline;
  margin-bottom: 1vw;
  margin-left: 2vw;
}

.faq details p {
  font-size: 1.2vw;
  line-height: 2.5vw;
  margin-bottom: 3vw;
  margin-left: 4.5vw;
}

.faq .help {
  margin-top: 5vw;
  font-family: Helvetica;
  font-size: 1vw;
  text-align: center;
}

.faq .help .email {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .faq {
    width: 90%;
  }

  .faq h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .faq .details-container {
    margin-bottom: 40px;
  }

  .faq h2 {
    font-size: 18px;
    line-height: 21.6px;
  }

  .faq details summary {
    font-size: 14px;
    line-height: 16.8px;
    margin-left: 15px;
  }

  .faq details p {
    font-size: 12px;
    line-height: 14.4px;
    margin-left: 25px;
  }

  .faq .help {
    font-size: 10px;
  }
}
