.footer * {
  /* border: 1px solid red; */
}

.footer {
  /* border: 1px solid red; */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.footer .logo-and-text {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.footer .logo {
  opacity: 0.5;
  width: 45px;
  height: 45px;
  margin: 0;
}

.footer .text {
  display: flex;
  align-items: center;
  gap: 3vw;
  font-family: Helvetica;
  margin: 0px;
  font-size: 1vw;
  font-weight: bold;
  color: #555555;
}

@media (min-width: 769px) and (max-width: 1100px) {
  .footer .text {
    font-size: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer .logo {
    width: 35px;
    height: 35px;
  }

  .footer p {
    font-size: 8px;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
  }

  .footer .logo-and-text {
    width: 80%;
    gap: 10px;
  }

  .footer .logo {
    width: 30px;
    height: 30px;
  }
}
