.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  max-width: 100%;
  animation: blurAnimation 2s forwards;
}

.gallery-container .link {
  text-decoration: none;
  color: black;
}

.art-card {
  position: relative;
  width: stretch;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #333;
  border: 1px solid #444;
  z-index: 1;
}

.art-card.hovered {
  border: 1px solid #666;
  box-shadow: 0px 0px 50px 1px rgb(0, 0, 0);
  z-index: 2;
}

.art-card .art-img {
  max-width: 100%;
  aspect-ratio: 1/1;
}

.art-card .art-desc {
  width: 325px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3px;
}

.art-card .artist {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 18px;
  color: rgba(255, 248, 220, 1);
  font-family: Helvetica;
  font-weight: bold;
}

.art-card .genre {
  text-align: left;
  font-size: 12px;
  color: rgba(255, 248, 220, 1);
  font-family: Helvetica;
}
