.gallery-container {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.gallery-container .link {
  text-decoration: none;
  color: black;
}

.art-card {
  /* box-shadow: 0px 0px 50px 1px rgba(100, 100, 100, 1); */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 5px outset black;
  border-radius: 10px;
}

.art-card.hovered {
  box-shadow: 0px 0px 50px 1px rgba(100, 100, 100, 0.5); /* 마우스 오버 시 box-shadow를 적용합니다. */
  border: 5px inset black;
}

.art-card .art-img {
  width: 130px;
  height: 130px;
}

.art-card .art-desc {
  width: 130px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 248, 220, 1);
}

.art-card .artist {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.art-card .genre {
  font-style: italic;
  font-size: 12px;
}
