.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  animation: blurAnimation 2s forwards;
}

.art-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: stretch;
  max-width: 100%;
  background-color: #333;
  border: 1px solid #444;
  z-index: 1;
}

.art-card.hovered {
  border: 1px solid #666;
  box-shadow: 0px 0px 30px 1px rgb(0, 0, 0);
  z-index: 2;
}

.art-card.hovered .art-img {
  transform: scale(1.05);
  transition: transform 1s ease;
}

.art-card .art-img-container {
  position: relative;
  overflow: hidden;
}

.art-card .art-img {
  width: 100%;
  aspect-ratio: 1/1;
  vertical-align: middle;
}

.genre-on-img {
  position: absolute;
  top: 85%;
  left: 5%;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

.art-card .art-desc {
  display: flex;
  padding: 3px 3px;
}

.art-card .artist {
  margin-top: 0px;
  font-size: 1rem;
  color: rgba(255, 248, 220, 1);
  font-family: Helvetica;
  font-weight: bold;
}

.art-card .text {
  font-size: 1rem;
  color: rgba(255, 248, 220, 1);
  font-family: Helvetica;
}
