.goods {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.goods.rearranged {
  filter: blur(1.25px);
}

.goods h1 {
  font-size: 5vw;
  margin-bottom: 4vw;
}

.goods .list {
  margin: 3vw 0 1vw 3vw;
  border-left: 1px dashed #ffffd7;
}

.goods .list-title {
  display: flex;
}

.goods .genre {
  font-size: 2vw;
  border-top: 1px dashed #ffffd7;
  padding-left: 0.5vw;
}

.goods .artist {
  font-size: 2vw;
}

.goods .by {
  font-size: 1.3vw;
  margin: 0 1vw;
  padding-top: 0.8vw;
}

.goods ul {
  padding-left: 3vw;
  margin-bottom: 0px;
}

.goods .marketplace-li {
  display: flex;
  align-items: center;
}

.goods .marketplace-li i {
  padding-top: 2px;
  font-size: 1vw;
}

.goods .marketplace-li .marketplace-name {
  font-size: 1.3vw;
  margin: 0 0.75vw 0 0.5vw;
}

.goods a {
  font-size: 1.3vw;
}
