.goods {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.goods.rearranged {
  filter: blur(1.25px);
}

.goods h1 {
  font-size: 80px;
  margin-left: 40px;
}

.goods .list {
  margin: 50px;
  margin-right: 0;
  border-left: 1px dashed #ffffd7;
}

.goods .list-title {
  display: flex;
}

.goods .genre {
  font-size: 44px;
  border-top: 1px dashed #ffffd7;
  padding-left: 0.5vw;
}

.goods .artist {
  font-size: 44px;
}

.goods .by {
  font-size: 44px;
  margin: 0 1vw;
  color: #bbbbbb;
}

.goods ul {
  padding-left: 3vw;
  margin-bottom: 0px;
}

.goods .marketplace-li {
  display: flex;
  align-items: center;
}

.goods .marketplace-li i {
  margin-top: 5px;
  font-size: 16px;
}

.goods a {
  font-size: 18px;
  line-height: 36px;
  margin-left: 5px;
}

@media (min-width: 481px) and (max-width: 768px) {
  .goods h1 {
    font-size: 60px;
    margin-left: 30px;
  }

  .goods .list {
    margin: 40px;
    margin-right: 0;
    border-left: 1px dotted #ffffd7;
  }

  .goods .genre {
    border-top: 1px dotted #ffffd7;
    font-size: 28px;
    line-height: 33.6px;
  }

  .goods .artist {
    font-size: 28px;
    line-height: 33.6px;
  }

  .goods .by {
    font-size: 28px;
    line-height: 33.6px;
  }

  .goods .marketplace-li i {
    font-size: 14px;
    line-height: 16.8px;
    margin-left: 5px;
    margin-top: 4px;
  }

  .goods a {
    font-size: 16px;
    line-height: 32px;
    margin-left: 4px;
  }
}

@media (max-width: 480px) {
  .goods {
    width: 80%;
  }

  .goods h1 {
    font-size: 40px;
    margin-left: 20px;
  }

  .goods .list {
    margin: 25px;
    margin-right: 0;
    border-left: 1px dotted #ffffd7;
  }

  .goods .genre {
    border-top: 1px dotted #ffffd7;
    font-size: 22px;
    line-height: 26.4px;
  }

  .goods .artist {
    font-size: 22px;
    line-height: 26.4px;
  }

  .goods .by {
    font-size: 22px;
    line-height: 26.4px;
  }

  .goods .marketplace-li i {
    font-size: 12px;
    line-height: 14.4px;
    margin-left: 5px;
    margin-top: 3px;
  }

  .goods a {
    font-size: 14px;
    line-height: 28px;
    margin-left: 3px;
  }
}
