.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: black;
  border-bottom: 1px dashed white;
}

.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  overflow: hidden;
}

.header.rearranged {
  border-bottom: 2px solid transparent;
}
