.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: black;
  border-bottom: 1px dotted #666666;
}

.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  overflow: hidden;
}

.header.rearranged {
  border-bottom: 1px solid transparent;
}
