.homedecor {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.homedecor.rearranged {
  filter: blur(1.25px);
}

.homedecor h1 {
  font-size: 5vw;
}

.homedecor a {
  display: block;
}

@media (max-width: 480px) {
  .homedecor h1 {
    font-size: 40px;
  }
}
