.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.intro p {
  position: relative;
  font-size: 2.4rem;
  margin: 0.5%;
  animation: blurAnimation 1s forwards;
}
