.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.intro p {
  position: relative;
  font-size: 2.4em;
  color: white;
  margin: 0.1em 0em 0.3em 0em;
  animation: blurAnimation 1s forwards;
}
