.marketplace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marketplace.rearranged {
  filter: blur(1.25px);
}

.marketplace h1 {
  font-size: 5vw;
  width: 75%;
}

.marketplace-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 5vw;
}

.marketplace-category-button {
  position: relative;
  width: 45%;
  aspect-ratio: 3/4;
  text-decoration: none;
  overflow: hidden;
}

.marketplace img {
  animation: fade-in 3s ease-in-out forwards;
  width: 100%;
}

.marketplace-category-button-text {
  position: absolute;
  top: 5%;
  max-width: max-content;
}

.homedecor-text {
  left: 5%;
  text-shadow: 5px 5px 15px black;
}
.goods-text {
  left: 30%;
  text-shadow: 5px 5px 5px black;
}
.web3-text {
  left: 20%;
  text-shadow: 5px 5px 5px black;
}

.marketplace-category-button:hover img {
  transform: scale(1.05);
  transition: transform 1s ease;
}

@media (max-width: 768px) {
  .marketplace-category {
    flex-direction: column;
    gap: 3%;
    width: 100%;
    font-size: 8vw;
  }

  .marketplace-category-button {
    width: 100%;
    aspect-ratio: 3/4;
  }

  .marketplace-category-button-text {
    top: 5%;
    left: 5%;
  }
}

@media (max-width: 480px) {
  .marketplace-category-button:hover img {
    transform: none;
    transition: none;
  }
}
