.sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: max-content;
  border: 3px dotted black;
  border-radius: 30px;
  background-color: #ffffee;
}

.sns .linktree {
  width: 120px;
  height: 40px;
}

.sns a {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.sns img {
  width: 40px;
  height: 40px;
}

.sns img:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

@media (min-width: 1101px) {
  .sns {
    right: 15px;
    top: 15px;
  }

  .sns:hover {
    border: 3px dashed black;
  }
}

@media (max-width: 1100px) {
  .sns {
    border: none;
    border-radius: 0px;
    justify-content: flex-end;
    top: 100%;
    width: 100%;
    border-top: 2px dashed #666666;
    padding-top: 30px;
    background-color: #444444;
  }

  .sns .linktree {
    width: 90px;
    height: 30px;
  }

  .sns img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .sns {
    padding-bottom: 5px;
  }

  .sns .linktree {
    width: 75px;
    height: 25px;
  }

  .sns img {
    width: 25px;
    height: 25px;
  }
}

.sns.rearranged {
  border: 2px solid transparent;
}

.sns a.rearranged {
  filter: blur(1.25px);
}
