.sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 100%;
  width: 100%;
  min-height: 50px;
  background-color: black;
}

.sns a {
  display: flex;
  align-items: center;
  margin: 0px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #ffffee;
}

.sns a:first-child {
  background-color: #ccffcc;
}

.sns a:last-child {
  margin-right: 10px;
}

.sns a.rearranged {
  filter: blur(1.25px);
}

.sns img {
  width: 30px;
  height: 30px;
}

.sns img:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

@media (max-width: 480px) {
  .sns {
    min-height: 50px;
  }

  .sns img {
    width: 20px;
    height: 20px;
  }

  .sns a {
    margin: 5px;
  }

  .sns a:last-child {
    margin-right: 30px;
  }

  .sns img:hover {
    animation: none;
  }
}
