.sns {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  width: max-content;
  border: 3px dotted black;
  border-radius: 15px;
  background-color: #ffffee;
}

.sns .line-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px dotted black;
}

.sns .line-1 img {
  width: 160px;
  height: 40px;
}

.sns .line-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns a {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.sns img {
  width: 40px;
  height: 40px;
}

.sns img:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

.sns:hover {
  border: 3px dashed black;
}

@media (min-width: 749px) {
  .sns {
    right: 15px;
    top: 15px;
  }
}

@media (max-width: 480px) {
  .sns {
    bottom: 0px;
  }
}
