.toggle-container {
  visibility: hidden;
  position: absolute;
  right: 5px;
  top: 25px;
  z-index: 999;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.toggle-icon {
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .toggle-container {
    visibility: visible;
  }
}
