.web3 {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.web3.rearranged {
  filter: blur(1.25px);
}

.web3 h1 {
  font-size: 5vw;
  margin-bottom: 4vw;
}

.web3 .web3-event {
  margin-bottom: 4vw;
}

.web3 h2 {
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
  font-size: 3vw;
}

.web3 h2 i {
  font-size: 2vw;
  margin-top: 0.3vw;
  border: 1px dashed white;
  border-radius: 50%;
}

.web3 .list {
  margin: 3vw 0 1vw 3vw;
  border-left: 1px dashed #ffffd7;
}

.web3 .list-title {
  display: flex;
}

.web3 .genre {
  font-size: 2vw;
  border-top: 1px dashed #ffffd7;
  padding-left: 0.5vw;
}
.web3 .artist {
  font-size: 2vw;
}

.web3 .by {
  font-size: 2vw;
  margin: 0 1vw;
  color: #bbbbbb;
}

.web3 ul {
  padding-left: 3vw;
  margin-bottom: 0px;
}

.web3 .marketplace-li {
  display: flex;
  align-items: center;
}

.web3 .marketplace-li i {
  padding-top: 2px;
  font-size: 1vw;
}

.web3 .marketplace-li .marketplace-name {
  font-size: 1.3vw;
  margin: 0 0.75vw 0 0.5vw;
}

.web3 a {
  font-size: 1.3vw;
}

@media (max-width: 480px) {
  .web3 {
    width: 90%;
  }

  .web3 h1 {
    font-size: 40px;
  }

  .web3 h2 {
    font-size: 25px;
  }

  .web3 h2 i {
    font-size: 12.5px;
    border: 1px solid white;
  }

  .web3 .list {
    margin-top: 25px;
    margin-left: 25px;
    border-left: 1px dotted #ffffd7;
  }

  .web3 .genre {
    font-size: 22px;
    line-height: 26.4px;
    border-top: 1px dotted #ffffd7;
  }

  .web3 .artist {
    font-size: 22px;
    line-height: 26.4px;
  }

  .web3 .by {
    font-size: 22px;
    line-height: 26.4px;
  }

  .web3 .marketplace-li i {
    font-size: 14px;
    line-height: 16.8px;
  }

  .web3 .marketplace-li .marketplace-name {
    font-size: 14px;
    line-height: 16.8px;
  }

  .web3 a {
    font-size: 14px;
    line-height: 16.8px;
  }
}
