.whatson {
  width: 75%;
}

.whatson p {
  font-family: Helvetica;
  font-size: 1.5rem;
  animation: fade-in 1.5s ease-in-out forwards;
  line-height: 2.2rem;
}

.whatson h2 {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  font-size: 2.4rem;
  animation: fade-in 0.5s ease-in-out forwards;
}

.whatson box-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1%;
}

.about {
  display: flex;
  flex-direction: column;
}

.about .about-head h1 {
  font-size: 5rem;
}

.about .about-head h1 ~ p {
  font-size: 1.8rem;
}

.about .about-body .about-body-item {
  margin: 10% 0;
  border-left: 10px solid #ffffd7;
  padding-left: 5%;
  animation: fade-in 0.5s ease-in-out forwards;
}

.about .about-body .about-body-item:nth-child(1) {
  margin: 6% 0 4% 0;
}

.vision {
  display: flex;
  flex-direction: column;
}

.vision-head {
  width: 100%;
}

.vision .vision-head h1 {
  font-size: 5rem;
}

.vision .vision-body .vision-body-item {
  margin: 10% 0;
  border-left: 10px solid #ffffd7;
  padding-left: 5%;
}

.vision .vision-body .vision-body-item:nth-child(1) {
  margin: 50px 0 100px 0;
}
