.sns {
  display: flex;
  margin-right: 20px;
}

.sns a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #555555;
  margin: 10px;
}

.sns img {
  width: 35px;
  height: 35px;
}

.sns a:first-child img {
  width: 28px;
  height: 28px;
  margin: 3.5px;
}

.sns a:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .sns a {
    margin: 7.5px;
  }

  .sns img {
    width: 30px;
    height: 30px;
  }

  .sns a:first-child img {
    width: 25px;
    height: 25px;
    margin: 2.5px;
  }
}

@media (min-width: 540px) and (max-width: 767px) {
  .sns {
    margin-right: 5px;
  }

  .sns a {
    margin: 5px;
  }

  .sns img {
    width: 25px;
    height: 25px;
  }

  .sns a:first-child img {
    width: 22px;
    height: 22px;
    margin: 1.5px;
  }
}

@media (max-width: 539px) {
  .sns {
    width: 85%;
    margin: 0;
    justify-content: space-between;
  }

  .sns a {
    order: 1;
    margin: 0;
  }

  .sns img {
    width: 25px;
    height: 25px;
  }

  .sns a:first-child img {
    width: 22px;
    height: 22px;
    margin: 1.5px;
  }

  .sns a:hover {
    animation: none;
  }

  .sns.rearranged {
    filter: blur(1.25px);
  }
}
