.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 192px - 107px);
}

@media (min-width: 480px) and (max-width: 1023px) {
  .body {
    min-height: calc(100vh - 148px - 80px);
  }
}

@media (max-width: 479px) {
  .body {
    min-height: calc(100vh - 80px - 122px);
  }
}
