.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 189px - 142px);
}

.loading {
  width: 100%;
  height: calc(100vh - 189px - 142px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .body,
  .loading {
    min-height: calc(100vh - 140px - 126px);
  }
}

@media (min-width: 480px) and (max-width: 767.9px) {
  .body,
  .loading {
    min-height: calc(100vh - 116px - 150px);
  }
}

@media (max-width: 479.9px) {
  .body,
  .loading {
    min-height: calc(100vh - 72px - 142px);
  }
}
