.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px dotted #666666;
}

.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  overflow: hidden;
}

@media (max-width: 479.9px) {
  .header.rearranged {
    border-bottom: 1px solid transparent;
  }
}
