* {
  border: 1px solid red;
  font-family: Consolas;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #000000, #aa0000);
}

h1,
h2 {
  white-space: nowrap;
}

@media (max-width: 600px) {
  p {
    white-space: nowrap;
    overflow: hidden;
  }
}

.link {
  color: white;
  text-decoration: none;
}
