.artist-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.artist-page-title {
  min-width: max-content;
  white-space: nowrap;
  text-align: center;
  font-family: Invisible-ExtraBold;
  font-size: 4vw;
  margin: 40px 0px 20px 0;
}

.artist-page-container .description {
  font-family: Helvetica;
  display: none;
}

@media (min-width: 540px) and (max-width: 1023px) {
  .artist-page-title {
    font-size: 25px;
  }
}

@media (max-width: 540px) {
  .artist-page-title {
    font-size: 35px;
    text-align: center;
  }

  .artist-page-container .description {
    display: block;
    width: 90%;
    margin: 20px 25px 40px 50px;
    font-size: 14px;
    line-height: 16.8px;
  }

  .artist-page-container.rearranged {
    filter: blur(1.25px);
  }
}
