.artist-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.artist-page-title {
  min-width: max-content;
  white-space: nowrap;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 75px;
  margin: 40px 0 0 0;
  padding: 0 3%;
  border-radius: 100px;
}

.artist-page-container .description {
  display: none;
  margin-top: 40px;
}

@media (max-width: 1023.9px) {
  .artist-page-title {
    font-size: 35px;
    text-align: center;
  }

  .artist-page-container .description {
    display: block;
    width: 90%;
    text-align: center;
    margin-bottom: 40px;
    line-height: 16.8px;
  }
}

@media (min-width: 768px) and (max-width: 1023.9px) {
  .artist-page-title {
    font-size: 52.5px;
  }

  .artist-page-container .description {
    font-size: 18px;
  }
}

@media (min-width: 480px) and (max-width: 767.9px) {
  .artist-page-container.rearranged {
    filter: blur(1.25px);
  }

  .artist-page-container .artist-page-title {
    font-size: 45px;
  }

  .artist-page-container .description {
    font-size: 16px;
  }
}

@media (max-width: 479.9px) {
  .artist-page-title {
    font-size: 32.5px;
  }

  .artist-page-container .description {
    font-size: 14px;
  }
}
