.category {
  display: flex;
  width: 100%;
}

.category .category-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
  width: 60%;
  margin: 10px 0 5px 2.5%;
  font-size: 30px;
  white-space: nowrap;
}
.category .category-item {
  display: flex;
  align-items: center;
}

.category .link {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.category .link:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
  border-bottom: 1px solid white;
}

.category .link.visited {
  border-bottom: 3px solid white;
}

.category .transparent-space {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .category .category-items {
    font-size: 25px;
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .category .category-items {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .category {
    visibility: hidden;
    position: fixed;
    z-index: 999;
  }

  .category .transparent-space {
    display: block;
    width: 45%;
    height: 100vh;
    background-color: transparent;
  }

  .category.rearranged {
    visibility: visible;
  }

  .category .category-items {
    border-right: 1px solid #666666;
    background-color: #222222;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
    height: calc(100vh+200px);
    margin: 0;
    font-size: 25px;
  }

  .category .category-item:first-child {
    margin-top: 50px;
  }

  .category .category-item {
    margin-left: 10px;
  }
}
