.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  text-decoration: underline;
  margin: 30px;
}

.logo .logo-text {
  position: relative;
  font-size: 65px;
  vertical-align: center;
  white-space: nowrap;
}

.logo {
  color: rgb(255, 255, 185);
}
.logo span::before,
.logo span::after {
  content: "";
  position: absolute;
  bottom: 4px;
  width: 6.5px;
  height: 58px;
  background-color: rgb(255, 255, 185);
}

.logo span::before {
  left: -3px;
}

.logo span::after {
  right: -5px;
}

@media (min-width: 480px) and (max-width: 1023px) {
  .logo {
    margin: 20px 0px 20px 15px;
  }

  .logo .logo-text {
    font-size: 44px;
  }

  .logo span::before,
  .logo span::after {
    content: "";
    position: absolute;
    bottom: 2px;
    width: 4.4px;
    height: 40px;
    background-color: rgb(255, 255, 185);
  }

  .logo span::before {
    left: -2px;
  }

  .logo span::after {
    right: -3px;
  }
}

@media (max-width: 479px) {
  .logo {
    margin: 20px 0px 20px 10px;
  }

  .logo .logo-text {
    font-size: 32.5px;
  }

  .logo span::before,
  .logo span::after {
    content: "";
    position: absolute;
    bottom: 2.75px;
    width: 3px;
    height: 29px;
    background-color: rgb(255, 255, 185);
  }

  .logo span::before {
    left: -2px;
  }

  .logo span::after {
    right: -3px;
  }

  .logo.rearranged {
    filter: blur(1.25px);
  }
}
