.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  text-decoration: underline;
  margin: 30px;
}

.logo .logo-text {
  font-family: Invisible-ExtraBold;
  font-weight: bold;
  position: relative;
  font-size: 80px;
  vertical-align: center;
  white-space: nowrap;
}

.logo {
  color: rgb(255, 255, 185);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    margin: 20px 0px 20px 20px;
  }

  .logo .logo-text {
    font-size: 50px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .logo {
    margin: 20px 0px 20px 15px;
  }
  .logo .logo-text {
    font-size: 45px;
  }
}

@media (max-width: 480px) {
  .logo {
    margin: 20px 0px 20px 10px;
  }

  .logo .logo-text {
    font-size: 33px;
  }

  .logo.rearranged {
    filter: blur(1.25px);
  }
}
