.snstop {
  position: absolute;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 50px;
  border-radius: 0px 0px 30px 30px;
  background-color: #ffffd7;
}

.snstop .linktree-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 155px;
  height: 30px;
  border-right: 2px solid black;
}

.snstop .another-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.snstop .another-container .discord {
  margin-left: 20px;
}

.snstop .linktree {
  width: 135px;
  height: 45px;
}

.snstop img {
  width: 45px;
  height: 45px;
}

.snstop img:hover {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

@media (max-width: 1300px) {
  .snstop {
    display: none;
  }
}
