.toggle-container {
  visibility: hidden;
  position: absolute;
  z-index: 999;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.toggle-icon {
  cursor: pointer;
}

@media (max-width: 540px) {
  .toggle-container {
    visibility: visible;
    top: 18px;
    right: 17px;
  }

  .toggle-icon {
    font-size: 38px;
  }
}
