.toggle-container {
  visibility: hidden;
  position: absolute;
  top: 22px;
  z-index: 999;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.toggle-icon {
  cursor: pointer;
}

@media (min-height: 480px) and (max-width: 540px) {
  .toggle-container {
    visibility: visible;
    right: 15px;
  }

  .toggle-icon {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .toggle-container {
    visibility: visible;
    right: 5px;
  }

  .toggle-icon {
    font-size: 33px;
  }
}
