.toggle-container {
  visibility: hidden;
  position: absolute;
  z-index: 999;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.toggle-icon {
  cursor: pointer;
}

@media (max-width: 479.9px) {
  .toggle-container {
    visibility: visible;
    top: 20px;
    right: 15px;
  }

  .toggle-icon {
    font-size: 35px;
  }
}
